@import "./normalize.css";
@import "./pagination.css";
@import "./card.css";
@import "./user.css";

:host {
  --color_principal: rgb(10, 166, 44);
  --color_principal_hover: hsl(133, 61%, 94%);
  --color_principal_hover_btn: #1e7e34;
  --font-color_light: #fff;
  --font-color_dark: rgb(7, 54, 7);
  --font-family: "Roboto", sans-serif;
  --font-size: 1rem;
  display: block;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color_dark);
}

.loader {
  display: inline-block;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color_principal);
  border-color: var(--color_principal) transparent var(--color_principal) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrow_back {
  display: block;
  margin: 10px 0;
  font-size: 1.3rem;
  text-align: start;
  color: var(--color_principal);
  text-decoration: none;
}
